In [1]:
import sqlite3
from sqlite3 import OperationalError

In [2]:
con = sqlite3.connect("rat_data.db")
con.execute("PRAGMA foreign_keys=1")
cur = con.cursor()

In [8]:
def drop_tables():
    con.execute("DROP TABLE IF EXISTS sightings")
    con.execute("DROP TABLE IF EXISTS stations")

def create_tables():
    cur.execute('''
    CREATE TABLE IF NOT EXISTS stations(
    station_id INTEGER PRIMARY KEY, 
    station_name TEXT,
    lines_served TEXT,
    lat TEXT DEFAULT NULL,
    long TEXT DEFAULT NULL
    )
    ''')
    
    cur.execute('''
    CREATE TABLE IF NOT EXISTS sightings(
    station_id INTEGER, 
    so_many INTEGER, 
    one_or_two INTEGER, 
    none INTEGER, 
    date_start TEXT, 
    date_end TEXT,
    PRIMARY KEY (station_id, date_start, date_end),
    FOREIGN KEY (station_id) REFERENCES stations(station_id)
    )
    ''')
    con.commit()

In [4]:
# def insert_rows(rows):
#     cur.executemany("INSERT INTO sightings VALUES(?, ?, ?, ?, ?, ?, ?)", rows)
#     con.commit()
# def insert_row(row):
#     cur.execute("INSERT INTO sightings VALUES(?, ?, ?, ?, ?, ?, ?)", row)
#     con.commit()

def insert_stations(rows):
    cur.executemany("INSERT OR IGNORE INTO stations VALUES(?, ?, ?, ?, ?)", rows)
    con.commit()

def insert_sightings(rows):
    cur.executemany("INSERT OR IGNORE INTO sightings VALUES(?, ?, ?, ?, ?, ?)", rows)
    con.commit()

def update_latlong(rows):
    cur.executemany("UPDATE stations SET lat=(?), long=(?) WHERE station_id=(?)", rows)
    con.commit()

In [5]:
def get_table_name(id):
    res = cur.execute(f"SELECT station_name FROM stations WHERE station_id={id}")
    return res.fetchall()

In [6]:
def get_connector():
    return con

def get_cursor():
    return cur